:root {
    --principal: #01b2c6; /*Principal*/
    --second: #17a2b8;/*Mas oscuro que principal*/
    --third: #66d0dc;/*Mas claro que principal*/
    --fourth: #138496;/*Mucho mas oscuro que principal*/
    --whatsapp: #01b2c6; /*Mismo que Principal*/
}